<!DOCTYPE html>
<html>
  <head>
    <title>tokenoma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Codec+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Codec+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/core.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="icon" type="/im" href="/images/3.png">
    <script src="js/assets/jquery.js"></script>
  </head>
  <body>
    <div class="body-overlay"></div>
    <!-- Menu-->
    <div class="nav-container">
      <ul class="nav">
        <li><a href="#home" style="font-family: 'Codec Pro', sans-serif;">Home</a></li>
        <li><a href="#aboutus" style="font-family: 'Codec Pro', sans-serif;">About Us</a></li>
        <li><a href="#portfolio" style="font-family: 'Codec Pro', sans-serif;">Portfolio</a></li>
        <li><a href="#pricing" style="font-family: 'Codec Pro', sans-serif;">Pricing</a></li>
        <li><a href="#contactus" style="font-family: 'Codec Pro', sans-serif;">Contact Us</a></li>
      </ul>
      <div class="copyright">2024 &copy; tokenoma creative. All rights reserved.</div>
      <div class="exit"></div>
      <ul class="social">
        <li><a href="#" class="fa fa-linkedin"></a></li>
        <li><a href="#" class="fa fa-facebook"></a></li>
        <li><a href="#" class="fa fa-instagram"></a></li>
        <!-- <li><a href="#" class="fa fa-tiktok"></a></li> -->
      </ul>
    </div>
    <!-- Wrapper-->
    <div id="wrapper" class="container-fluid smooth-transition">
      <!-- Header-->
      <header>
        <div class="container">
          <!-- Branding --> 
           <a href="index.html" class="brand"> <img alt="this image is behaving in a weird way today :[" src="/1 (3).svg" style="height: 45px;" class="dark-brand"></a>
        
          <!-- Menu-->
          <div class="menu"></div>
        </div>
      </header>
      <!-- Hero & Tera Slider-->
      <section id="home" class="slider">
        <ul class="slides">
          <!-- Slide-->
          <li class="slide">
            <!-- Background-->
            <div class="hero fs">
              <div style="background-image: url(images/office/toke1.png);" class="bg parallax"></div>
              <div class="container text-center offset-top">
                <!-- Content-->
                <div class="content">
                  <h1 class="lg"></h1>
                </div>
              </div>
            </div>
          </li>
          <li class="slide">
            <!-- Background-->
            <div class="hero fs">
              <div style="background-image: url(images/office/toke2.png);" class="bg parallax"></div>
              <div class="container text-center offset-top">
                <!-- Content-->
                <div class="content">
                  <h1 class="lg"></h1>
                </div>
              </div>
            </div>
          </li>
          <li class="slide">
            <!-- Background-->
            <div class="hero fs">
              <div style="background-image: url(images/office/toke3.png);" class="bg parallax"></div>
              <div class="container text-center offset-top">
                <!-- Content-->
                <div class="content">
                  <h1 class="lg"></h1>
                </div>
              </div>
            </div>
          </li>
          <!-- Slide-->
          
        </ul>
      </section>
      <section id="aboutus">
        <div class="container content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="title-block">
                <h3>what is <span style="color: #8864cc;">tokenoma</span>?</h3>
                <!-- <h5>Bone expands your possibilities</h5> -->
              </div>
              <b>
                <p>
                  <span style="color: #8864cc;">tokenoma creative</span> is an agency dedicated to helping businesses celebrate and recognize their teams' hard work. by partnering with companies, we deliver personalized appreciation through a subscription service. each friday, employees receive a thoughtfully curated gift box containing snacks, beverages, a small gift, and a heartfelt note recognizing their contributions. this simple yet meaningful gesture fosters team morale and strengthens workplace connections. with <span style="color: #8864cc;">tokenoma creative</span>, showing gratitude becomes effortless and impactful, making employees feel valued and appreciated every week.
                </p>
              </b>
            </div>
          </div>
        </div>
      
        <!-- Our Mission Section -->
        <div class="container content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="title-block">
                <h3>our <span style="color: #8864cc;">mission</span>.</h3>
              </div>
              <b>
                <p>
                  our <span style="color: #8864cc;">mission</span> is to foster a culture of appreciation and connection in workplaces. by partnering with businesses, we deliver thoughtfully curated gift boxes every friday, ensuring employees feel valued for their hard work and dedication. through this simple yet meaningful gesture, we aim to boost team morale, enhance employee satisfaction, and create stronger workplace bonds.
                </p>
              </b>
            </div>
          </div>
        </div>
      
        <!-- Our Vision Section -->
        <div class="container content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="title-block">
                <h3>our <span style="color: #8864cc;">vision</span>.</h3>
              </div>
              <b>
                <p>
                  our <span style="color: #8864cc;">vision</span> is to redefine workplace culture by becoming the go-to partner for businesses seeking to show gratitude to their teams. we strive to make appreciation a core value in every organization, creating a world where employees feel consistently recognized, motivated, and inspired to excel. through our innovative approach, we aim to leave a lasting impact on workplace relationships globally.
                </p>
              </b>
            </div>
          </div>
        </div>
      </section>
      
      <section class="gift">
        <div class="container">
          <div class="row">
            <div class="col-12 mt-5 d-flex justify-content-center">
              <div class="box">
                <div class="box-body">
                  <img class="img" src="https://via.placeholder.com/150">
                  <div class="box-lid">
                    
                    <div class="box-bowtie"></div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>    
      </section>
      
      <!-- <section class="top-line">
        <div class="container content text-center">
          <div class="row">
            <div class="col-md-3 service">
              <div class="icon ion-lightbulb item"></div>
              <h4>Concept</h4>
              <p>We bring ideas to live. Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-md-3 service">
              <div class="icon ion-camera item"></div>
              <h4>Photography</h4>
              <p>We bring ideas to live. Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-md-3 service">
              <div class="icon ion-monitor item"></div>
              <h4>Design</h4>
              <p>We bring ideas to live. Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-md-3 service">
              <div class="icon ion-pizza item"></div>
              <h4>Great food</h4>
              <p>We bring ideas to live. Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </div>
      </section> -->

      <section id="portfolio">
        <div class="container">
          <div class="intro">
            <h3>Portfolio</h3>
          </div>
          <!-- Portfolio grid-->
          <div class="grid">
            <!-- Portfolio item-->
            <div class="grid-sizer"></div><a href="pages/portfolio-single.html" class="grid-item">
              <div style="background-image: url(images/thumbs/07.png)" class="thumb"></div>
              <div class="caption">
                <div class="type">Photography + Video</div>
                <div class="description">
                  <h4>Land of God</h4>
                  <p>We bring ideas to live. Lorem ipsum dolor sit amet.</p>
                </div>
              </div></a>
            <!-- Portfolio item--><a href="pages/portfolio-single-2.html" class="grid-item">
              <div style="background-image: url(images/thumbs/02.png)" class="thumb"></div>
              <div class="caption">
                <div class="type">Design + Art Direction</div>
                <div class="description">
                  <h4>Weekly Planner</h4>
                  <p>We bring ideas to live. Lorem ipsum dolor sit amet.</p>
                </div>
              </div></a>
            <!-- Portfolio item--><a href="pages/portfolio-single.html" class="grid-item tall">
              <div style="background-image: url(images/thumbs/03.png)" class="thumb"></div>
              <div class="caption">
                <div class="type">Design + Art Direction</div>
                <div class="description">
                  <h4>Suit Inc.</h4>
                  <p>We bring ideas to live. Lorem ipsum dolor sit amet.</p>
                </div>
              </div></a>
            <!-- Portfolio item--><a href="pages/portfolio-single-2.html" class="grid-item">
              <div style="background-image: url(images/thumbs/04.png)" class="thumb"></div>
              <div class="caption">
                <div class="type">Drone + Photography</div>
                <div class="description">
                  <h4>Life on Mars </h4>
                  <p>We bring ideas to live. Lorem ipsum dolor sit amet.</p>
                </div>
              </div></a>
            <!-- Portfolio item--><a href="pages/portfolio-single.html" class="grid-item">
              <div style="background-image: url(images/thumbs/05.png)" class="thumb"></div>
              <div class="caption">
                <div class="type">Design + Architecture</div>
                <div class="description">
                  <h4>Concept</h4>
                  <p>We bring ideas to live. Lorem ipsum dolor sit amet.</p>
                </div>
              </div></a>
            <!-- Portfolio item--><a href="pages/portfolio-single-2.html" class="grid-item large">
              <div style="background-image: url(images/thumbs/06.png)" class="thumb"></div>
              <div class="caption">
                <div class="type">Photography</div>
                <div class="description">
                  <h4>Land of God #2</h4>
                  <p>We bring ideas to live. Lorem ipsum dolor sit amet.</p>
                </div>
              </div></a>
            <!-- Portfolio item--><a href="pages/portfolio-single.html" class="grid-item">
              <div style="background-image: url(images/portraits/02.jpg)" class="thumb"></div>
              <div class="caption">
                <div class="type">Photography</div>
                <div class="description">
                  <h4>She</h4>
                  <p>Lorem ipsum dolor.</p>
                </div>
              </div></a>
            <!--Portfolio item--> <a href="pages/portfolio-single-2.html" class="grid-item">
              <div style="background-image: url(images/thumbs/08.png)" class="thumb"></div>
              <div class="caption">
                <div class="type">Design + Art Direction</div>
                <div class="description">
                  <h4>Concept</h4>
                  <p>We bring ideas to live. Lorem ipsum dolor sit amet.</p>
                </div>
              </div></a>
          </div>
        </div>
      </section>

      <section id="pricing" class="content gray pricing">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <div class="intro">
                <h2>A fantastic price</h2>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="plan item">
                    <h3>Silver</h3>
                    <div class="price">&euro; 20 <span>/m</span></div>
                    <ul>
                      <li><strong>Basic support</strong></li>
                      <li><strong>Basic features</strong></li>
                      <li><strong>Basic documentation</strong></li>
                      <li>10 Iterations</li>
                      <li>Basic concept</li>
                      <li>10 Websites</li>
                      <li>1TB Bandwidth</li>
                    </ul><a href="#" class="btn btn-default">View plan</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="plan highlighted item">
                    <h3>Gold</h3>
                    <div class="price">&euro; 40 <span>/m</span></div>
                    <ul>
                      <li><strong>Premium support</strong></li>
                      <li><strong>Premium features</strong></li>
                      <li><strong>Premium documentation</strong></li>
                      <li>25 Iterations</li>
                      <li>Premium concept</li>
                      <li>25 Websites</li>
                      <li>2.5TB Bandwidth</li>
                    </ul><a href="#" class="btn btn-default">View plan</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="plan item">
                    <h3>Diamond</h3>
                    <div class="price">&euro; 55 <span>/m</span></div>
                    <ul>
                      <li><strong>Unlimited support</strong></li>
                      <li><strong>Unlimited features</strong></li>
                      <li><strong>Unlimited documentation</strong></li>
                      <li>Unlimited Iterations</li>
                      <li>Unlimited concept</li>
                      <li>Unlimited Websites</li>
                      <li>Unlimited Bandwidth</li>
                    </ul><a href="#" class="btn btn-default">View plan</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Contact Us Section -->
      <section id="contactus">
        <div class="container content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="title-block">
                <h3>Contact Us</h3>
              </div>
              <form action="mailto:youremail@example.com?subject=Contact%20Form%20Submission" method="POST"
                enctype="text/plain">
                <div class="form-group">
                  <label for="name">Full Name</label>
                  <input type="text" id="name" name="name" class="form-control" placeholder="Enter your name" required>
                </div>
                <div class="form-group">
                  <label for="email">Email Address</label>
                  <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea id="message" name="message" class="form-control" placeholder="Your message..." rows="4"
                    required></textarea>
                </div>
                <button style="font-family: 'Codec Pro', sans-serif;" type="submit" class="btn">Send Message</button>
              </form>
            </div>
          </div>
        </div>
      </section>


      <section class="footer">
      <!-- Footer-->
      <footer>
        <div class="container content">
          <div class="row">
            <!-- Contact info-->
            <div class="col-md-2"> 
              <p>P (+1) 0 123 456 78<br>F (+1) 0 123 456 78<br>M email@example.com</p>
            </div>
            <div class="col-md-2"> 
              <p>Bone Agency Ltd<br>Designstreet 137<br>12345 NY, New York</p>
            </div>
            <div class="col-md-8 text-right">
              <!-- Social links-->
              <ul class="social">
                <li><a href="#" class="fa fa-linkedin"></a></li>
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-instagram"></a></li>
                <!-- <li><a href="#" class="fa fa-tiktok"></a></li> -->
              </ul>

              <div class="copyright">2024 &copy; tokenoma creative. All rights reserved.</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/assets/bootstrap.js"></script>
    <script src="js/assets/imagesloaded.pkgd.min.js"></script>
    <script src="js/assets/validation.js"></script>
    <script src="js/assets/masonry.pkgd.min.js"></script>
    <script src="modules/tera-slider/tera-slider.js"></script>
    <script src="modules/tera-lightbox/tera-lightbox.js"></script>
    <script src="js/assets/animsition.js"></script>
    <script src="js/functions.js"></script>
  </body>
</html>